html, body, ul, li {
    margin: 0;
    padding: 0;
}

#gallery {
    max-width: 1600px;
    margin: 0 auto;
    text-align: center;
}

#gallery .photos {
    position: relative;
    height: 900px;
}

#gallery .photos img {
    width: 100%;
    position: absolute;
    left: 0;
    transition: opacity 1s;
}

.hided {
    opacity: 0;
}

.showed {
    opacity: 1;
}

button {
    margin: 10px;
    width: 200px;
    height: 40px;
    background: cornflowerblue;
    color: cornsilk;
    border: none;
    font-size: 18px;
}
